// VARIABLES
$type-base:'Roboto', sans-serif;
$type-heading:'Josefin Sans', sans-serif;
$type-linewidth: 38em;
$type-color: black;
$type-color-lightgrey: rgba(0,0,0,.5);

//COLOR
$accent-color: #093550;



@import "partials/toc";
@import "partials/typography";
